@model IEnumerable<Mmfeedback.Models.Entities.Review>

@{
	ViewBag.Title = "Mmfeedback main";
}
<html>
    <head>
        <meta charset="UTF-8">
        <link href='https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Kelly+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="@Url.Content("~/Styles/HomeStyle.css")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
        <script type='text/javascript' src="@Url.Content("~/Scripts/HomeScript.js")"></script>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <header class="w3-container w3-blue-grey">
	        <h1>MmFeedback</h1>
	        <div class="w3-topnav w3-blue-grey w3-large nav">
	            <a href='@Url.Action("Login", "Admin")'>Вход администратора</a>
	            <a href='@Url.Action("SendMessage", "Act")'>Обратная связь</a>
	            <a href="#">Правила</a>
	            <a href="@Url.Action("AddReview", "Act")">Добавить отзыв</a>
	        </div>
	    </header>
        <div class="container" id="container">
            <div class ="jumbotron">
                <h1>Предметы матмеха</h1>
                <button class="btn btn-primary btn-block" onclick="location.href='@Url.Action("AddReview", "Act")'">Поделиться мнением</button>
                <h3></h3>
            </div>
            <table id="main">
                <tr>
                    <td width="80%">
			            <div id="searchDiv" class="form-group">
			                <table id="suggested">
			                    <tr id="suggestedTags">
			                    </tr>
			                </table>
			                <input type="text" id="search"  name="search" placeholder="search" onkeypress="SaveTags(event)"/>
			                <table id="tags">
			                    <tr id="savedTags">
			                    </tr>
			                </table>
			            </div>
			            <div id="reviewsList" style="height: 100">
				            @foreach(var review in Model){
				                Html.RenderPartial("Element", review);
				            }
				        </div>
				    </td>
				</tr>
			</table>
	        <div id="loading"></div>
	    </div>
    </body>
</html>