@model Mmfeedback.Models.ViewModels.ReviewCreatorModel

@using System.Web.Mvc;

@{
	ViewBag.Title = "Добавить отзыв @@ Mmfeedback";
}

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@Url.Content("~/Styles/AddReviewStyle.css")">
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
		<script src="@Url.Content("~/Scripts/AddReview.js")" type='text/javascript'></script>
	</head>
	<body>
	    <header class="w3-container w3-blue-grey">
	        <h1>Add</h1>
	    </header>
	    <div id="container">
	        <a href="@Url.Action("Index", "Home")">На главную</a>
		    @using (Html.BeginForm("AddReview", "Act", null, FormMethod.Post, new { @id = "form" })){
		        @Html.TextBoxFor(m => m.Form.Title, new { @class="input required", @placeholder="Название отзыва" })
		        @Html.TextAreaFor(m => m.Form.Description, 20, 55, new { @class="input required", @placeholder="Текст отзыва" })
		        @Html.TextBoxFor(m => m.Form.Tags, new { @id = "tagsTextBox", @style="display: none" });
		        <br>
		        <button type="button" id="addTag" style="visibility: hidden">Добавить тег</button>
		        <input type="text" id="search" placeholder="search" class="input" />
		        <br>
			    <div id="scroll" style="overflow:auto; height: 300px">
			        <table id="tagsToAdd">
			            @foreach(var tag in Model.Tags){
			                <tr><td>
			                    <div class="checkbox">
			                        <label>
						                <input class="tagCheckbox" type="checkbox" value="@tag" /><span>@tag</span>
						            </label>
						        </div>
						    </td></tr>
						}
					</table>
				</div>
				<br>
				@Html.Label("Выберите категорию", new { @class = "label" });
				<br>
				@Html.DropDownListFor(m => m.Form.Category, Model.Categories, new { @id = "select", @class = "input required" } );
				@Html.TextBoxFor(m => m.Form.Author, new { @id = "author", @style="display: none" });
				<br>
				<button type="button" id="sign">Подписать отзыв</button>
				<br>
				<button id="submit" type="submit">Готово!</button>
			}
		</div>
	</body>
</html>
